.navbar {
    text-align: right;
    margin-top: 20px;
}

h1 {
    text-align: center;
    margin-top: 20px;
}

img {
    display: block;
    margin: 20px auto;
}

body {
    background-color: lightgray
}

p {
        text-align: center;
    font-size: 18px;
}

a {
    color: black;
    margin-right: 30px;

}

div {
    text-align: right;
    margin-top: 20px;
    height: 80px;
    border: 1px solid black;
    background-color: whitesmoke
}
